* {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto Slab', serif;

}

:root {
	--first-color: #f73a00c4;
	--second-color: #222020d0;
}

.body {
	background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}
.conteiner {
	background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
	height: 100vh;
}
.logo {
	width: 100px;
	height: 100px;
	margin: 2remg;
}

.borrar {
	width: 20px;
	height: 20px;
}

.titulo {
	text-align: center;
}

.lista-tareas {
	display: flex;
	justify-content: center;
	padding: 50px;
}

.tareas-input {
	width: 50% !important;
	background-color: white;

}

.tareas-input ::placeholder {
	text-align: center;
}


.tareas-input ::placeholder {
	color: white;
	background-color: aliceblue;
}
.boton-submit {
box-shadow: 1px 1px 2px white;
margin: 0px 0px 0px 10px;
}
.boton-submit {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.boton-submit:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.boton-submit:active {
    color: #000
}

.boton-submit:active:after {
    background: transparent;
}

.boton-submit:hover:before {
    opacity: 1;
}

.boton-submit:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.boton-submit :hover {
	background-color: white;
	color: var(--second-color);
}

.lista-conteiner {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: auto;
	margin: auto;
	align-items: center;
}

.contenedor-tareas {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: aliceblue;
	width: 70%;
	height: 30px;
	border-radius: 5px;
	border: 1px solid;
	margin: 5px;
	padding: 20px;
	color: black;
	font-weight: bold ;
}


.stat {
	text-align: center;
	padding: 20px;
}
.stat p {
	font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 1px 1px 6px white;
}


.Reset{
	display: flex;
	justify-content: center;
}

.conteiner h2{
	font-size: 2.5rem;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-text-stroke-width: medium;
    text-shadow: 2px 2px 4px white;
}

.conteiner img {
	margin: 2rem;
}
.boton-submit ::after{
	background-color: #121212;
}
